{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row mb-4">
        {% if query %}
            <div class="col-12">
                Results for <b>{{ query }}</b>
                <hr/>
            </div>
        {% else %}
            <div class="col-12 col-md-8 mx-auto py-5">
                {% include 'searchapp/snippets/search-form.html' %}
            </div>
        <div class="col-12">
            <hr/>
        </div>
        {% endif %}
    </div>
    <div class="row mb-3">
        {% for obj in object_list %}
            <div class="column col-md-4" >
            {% include 'products/snippets/card.html' with instance=obj %}
            <!-- a href = "{{ obj.get_absolute_url }}">{{ obj.title }} </a> <br/ -->
            </div>

        {% endfor %}
    </div>
</div>
{% endblock %}